/* da sredam sec1 */
* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content:space-between;
    padding: 16px 100px 0px 100px;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sec1-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
}

a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    display: flex;
    align-items: center;
}

.logo-title {
    font-weight: 1000;
    font-size: 24px;
    color: #F9FAF8;
}

.sec1 {
    display: flex;    
    padding: 70px 100px;
    background-color: #1f2937;
    gap: 16px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    padding: 35px 100px 70px 100px;
}

.top {
    padding-bottom: 35px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 150px;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 85%;
    padding: 16px;
    border: 3px solid #3882F6;
}

.card-img {
    max-width: 50%;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.sec1-img {
    width: 100%;
    height: auto; /* da sredam ovde da ima slikata ista visina so sekcijata */
}

.buttons {
    display: flex;
    gap: 16px;
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    box-shadow: 0px transparent;
    border: 0px solid transparent;
    font-weight: 700;
}

.info-text {
    max-width: 100%;
    font-size: 18px;
    color: #3882F6;
    text-align: justify;
}